@mi-prefix: mi-;
@mi-search: ~'@{mi-prefix}search';
@mi-font-size: 1rem;
@mi-font-size-sm: 12px;
@mi-font-size-normal: 14px;
@mi-font-size-base: 16px;
@mi-spacing: 8px;

/** Flex */
.flex(@align: center, @justify: center) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: @align;
    align-items: @align;
    justify-content: @justify;
}

.border-radius(@raduis: 4) {
    -moz-border-radius: (@raduis / @mi-font-size-base) * @mi-font-size;
    -webkit-border-radius: (@raduis / @mi-font-size-base) * @mi-font-size;
    -o-border-radius: (@raduis / @mi-font-size-base) * @mi-font-size;
    -khtml-border-radius: (@raduis / @mi-font-size-base) * @mi-font-size;
    border-radius: (@raduis / @mi-font-size-base) * @mi-font-size;
}

/** Properties */
.properties(@key, @value: @mi-spacing) {
    @{key}: (@value / @mi-font-size-base) * @mi-font-size;
}

/** Text Ellipsis */
.text-ellipsis(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/** Letter Spacing  */
.letter-spacing(@value: 2) {
    .properties(letter-spacing, @value);
}

.@{mi-search} {
    .flex();
    position: relative;
    .properties(height, 42);
    .properties(width, 360);

    &-input {
        width: 100%;
        height: 100%;
        .text-ellipsis();
        .border-radius();
        .properties(padding-top, 6);
        .properties(padding-bottom, 6);
        .properties(padding-left, 12);
        .properties(padding-right, 12);
        color: fade(#000, 65%);
        background-color: #fff;
        background-image: none;
        border: 1px solid #d9d9d9;
        transition: all .3s ease;
        list-style: none;
        box-sizing: border-box;
        position: relative;
        .properties(font-size, 14);
        .properties(line-height, 22);
        .letter-spacing();

        &:focus, &:hover, &:active {
            outline: 0;
            border-color: #d9d9d9;
        }
    }

    &-list {
        width: 100%;
        .properties(height, 280);
        position: absolute;
        left: 0;
        .properties(top, 42);
        border: 1px solid #d9d9d9;
        .border-radius();
        box-shadow: 0 0 6px #d9d9d9;
    }

    &-no-data {
        .flex();

        p {
            margin: 0;
            padding: 0;
            .letter-spacing();
            .properties(font-size, 14);
            color: #999;
        }
    }
}